@model Contact
@{
    ViewData["Title"] = "Kontakt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--====== APPIE PAGE TITLE PART START ======-->

<div class="appie-page-title-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="appie-page-title-item">
                    <h3 class="title">Kontakt</h3>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Kontakt</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<!--====== APPIE PRICING PART START ======-->

<section class="appie-pricing-area pt-90 pb-90">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="appie-section-title text-center">
                    <h3 class="appie-title">Pricing</h3>
                </div>
            </div>
        </div>
        <div class="tabed-content">
            <div id="month">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 wow animated fadeInLeft">
                        <div class="pricing-one__single">
                            <div class="pricig-heading">
                                <h4>
                                    Android
                                </h4>
                            </div>
                            <div class="pricig-body">
                                <ul>
                                    <li><i class="fal fa-check"></i> Publishable in all Android app stores</li>
                                    <li><i class="fal fa-check"></i> Works on Android smartphones and tablets</li>
                                    <li><i class="fal fa-check"></i> Native Android Material Design</li>
                                    <li>
                                        <i class="fal fa-times" style="color:red"></i> Missing out on higher value Apple Customers
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow animated fadeInUp">
                        <div class="pricing-one__single center">
                            <div class="pricig-heading">
                                <h4>
                                    Android & iOS
                                </h4>
                            </div>
                            <div class="pricig-body">
                                <ul>
                                    <li><i class="fal fa-check"></i> Publishable in all Android app stores & the Apple App Store</li>
                                    <li>
                                        <i class="fal fa-check"></i> Works on iOS & Android smartphones and tablets
                                    </li>
                                    <li>
                                        <i class="fal fa-check"></i> Native Android Material & iOS Cupertino Design
                                    </li>
                                    <li>
                                        <i class="fal fa-check"></i> Optimal market coverage
                                    </li>
                                    <li>
                                        <i class="fal fa-check"></i> Best price/value option
                                    </li>
                                </ul>
                            </div>
                            <div class="pricing-rebon">
                                <span>Most Popular</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow animated fadeInRight">
                        <div class="pricing-one__single">
                            <div class="pricig-heading">
                                <h4>
                                    iOS (Apple)
                                </h4>
                            </div>
                            <div class="pricig-body">
                                <ul>
                                    <li>
                                        <i class="fal fa-check"></i> Publishable in the Apple App Store
                                    </li>
                                    <li>
                                        <i class="fal fa-check"></i> Works on iPhones and iPads
                                    </li>
                                    <li>
                                        <i class="fal fa-check"></i> Native iOS Cupertino Design
                                    </li>
                                    <li>
                                        <i class="fal fa-times"></i> Only covers 13% of the global smartphone market
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--====== APPIE PRICING PART ENDS ======-->
<!--====== APPIE PAGE TITLE PART ENDS ======-->
<!-- Contact Start -->
<section class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="contact-form">
                    <h4 style="text-align:center">
                        Kontaktiere Uns
                    </h4>
                    <p style="text-align:center;font-weight:bold">Fragen ? Wir sind hier, um zu helfen. Konaktiere uns umgehend oder fülle das Formular unten aus. Unsere Mitarbeiter rufen dich innerhalb 24 Stunden zurück.</p>

                    @using (Html.BeginForm("Contact", "Home", FormMethod.Post, new { @class = "row" }))
                    {

                        <div class="col-md-6">
                            @Html.TextBoxFor(x => x.Name, "", new { @class = "form-control", @required = "", @placeholder = "Name*" })
                        </div>
                        <div class="col-md-6">
                            @Html.TextBoxFor(x => x.Email, "", new { @class = "form-control", @required = "", @placeholder = "E-Mail Adresse*" })
                        </div>
                        <div class="col-md-6">
                            @Html.TextBoxFor(x => x.Website, "", new { @class = "form-control", @required = "", @placeholder = "Website*" })
                        </div>
                        <div class="col-md-6">
                            @Html.TextBoxFor(x => x.Phone, "", new { @class = "form-control", @required = "", @placeholder = "Vorwahl, Rufnummer*" })
                        </div>
                        <div class="col-md-12">
                            @Html.TextAreaFor(x => x.Message, 3, 5, new { @class = "form-control", @required = "", @placeholder = "Message*" })
                        </div>
                        <div class="col-md-6">
                            <div class="condition-check">
                                <input id="terms-conditions" type="checkbox">
                                <label for="terms-conditions">
                                    Ich habe die <a href="/Home/Datenschutzerklärung" target="_blank">Datenschutzerklärung</a> zur Kenntnis genommen.
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6 text-right">
                            <input type="submit" name="submit" value="Send Message">
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact End -->